<%- include('./partials/page-starter.ejs') %>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<section class="list_users">
    <h1>- Choose any Worthy Opponent -</h1>
    <div class="list_users__wrapper" id="user-cards-container">
        <!-- code will add users here... -->
    </div>
</section>
<%- include('./partials/page-end.ejs') %>
<script type="application/javascript" src="/js/show-all-users.js"></script>